{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ character.name }}{% endblock %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static "css/charSheet.css" %}" />

  <script type="text/javascript" src="{% static "js/lib/jquery.js" %}"></script>
  <script type="text/javascript" src="{% static "js/lib/jquery.cookie.js" %}"></script>
  <script type="text/javascript" src="{% static "js/lib/jquery.jeditable.mini.js" %}"></script>
  <script type="text/javascript" src="{% static "js/src/charSheet.js" %}"></script>
{% endblock %}

{% block body %}
  {% block characterSheet %}{% endblock %}
{% endblock %}
