{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ character.name }} - Teledu{% endblock %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static "css/charSheet.css" %}" />

  <script type="text/javascript" src="{% static "js/lib/jquery.js" %}"></script>
  <script type="text/javascript" src="{% static "js/lib/jquery.cookie.js" %}"></script>
  <script type="text/javascript" src="{% static "js/lib/jquery.jeditable.mini.js" %}"></script>
  <script type="text/javascript" src="{% static "js/src/charSheet.js" %}"></script>
{% endblock %}

{% block body %}
  <div id="charSheetToolbar">
    <a href="{% url teledu.views.welcome %}">Home</a>
    <a href="{% url teledu.views.deleteCharacter character.id %}">Delete</a>
  </div>
  {% block characterSheet %}{% endblock %}
{% endblock %}
