{% extends "characterSheet.html" %}
{% load character %}

{% block characterSheet %}
  <p>
    <b>Name</b>: <span id="attr_name">{{ character.name }}</span>
  </p>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {% for attribute in character.attributes.distinct %}
        {% if attribute.display %}
          <tr>
            <td>{{ attribute.name }}</td>
            <td>{% char_attr attribute %}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

